# Created by https://www.gitignore.io/api/executable
# Edit at https://www.gitignore.io/?templates=executable
### vs code files ###
.vscode/

### Database ###
*.db

### Executable ###
*.app
*.bat
*.cgi
*.com
*.exe
*.gadget
*.jar
*.pif
*.vb
*.wsf

# End of https://www.gitignore.io/api/executable
father_heater.exe
__debug_bin
fathenda.db
